body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f6fc; /* Light blue background */
}

header {
    text-align: center;
    padding: 40px 0;
    background-color: #3498db; /* Updated blue header background */
    color: #fff;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: calc(33.33% - 20px);
    height: 200px; /* Fixed height for the rectangular boxes */
    text-align: center; /* Horizontally center text */
    line-height: 100px; /* Vertically center text (adjust as needed) */
    padding: 20px;
    margin-bottom: 20px;
    background-color: #d1ecf1; /* Updated light blue box background */
    border: 1px solid #bdc3c7; /* Light border color */
    box-sizing: border-box;
}



@media screen and (max-width: 768px) {
    .box {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .box {
        width: calc(100% - 20px);
    }
}
