body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f6fc; /* Light blue background */
}

header {
    text-align: center;
    padding: 40px 0;
    background-color: #3498db; /* Updated blue header background */
    color: #fff;
}

h1 {
    font-size: 40px;
    margin: 10px 0;
}

h2 {
    font-size: 32px;
    margin: 10px 0;
}

h3 {
    font-size: 42px;
    margin: 10px 0;
    color: #fff;
    /* Remove default link styling */
    text-decoration: none;
    outline: none;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: calc(33.33% - 50px);
    height: 200px; /* Fixed height for the rectangular boxes */
    /* Add rounded corners */
    border-radius: 15px; /* Adjust the value for desired roundness */
    text-align: center; /* Horizontally center text */
    line-height: 126px; /* Vertically center text (adjust as needed) */
    padding: 20px;
    margin-bottom: 20px;
    background-color: #3498db; /* Updated light blue box background */
    border: 1px solid #3498db; /* Light border color */
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    /* Style for the box on hover */
  
    &:hover {
    background-color: #4ca3dd; /* Change background color on hover */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); /* Enhance shadow */
    cursor: pointer; /* Change cursor to indicate interactivity */
  }

}



@media screen and (max-width: 768px) {
    .box {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .box {
        width: calc(100% - 20px);
    }
}
